<h1><%= @restaurant.name %></h1>
<h1><%= @restaurant.address %></h1>
<h1><%= @restaurant.rating %></h1>

<% @restaurant.reviews.each do |r| %>
  <h2><%= r.comment %></h2>
  <%= link_to review_path(r), method: :delete do %>
    <h2>Delete this review</h2>
  <% end %>
<% end %>
<h3><%= link_to 'Add reviews', new_restaurant_review_path(@restaurant) %></h3>
<h3><%= link_to 'See chef', chef_restaurant_path %></h3>
